Розробити систему управління користувачами на основі принципів ООП у JavaScript. Для цього вони мають реалізувати наступні класи:

User – базовий клас для користувача.
Поля:
	id – унікальний ідентифікатор користувача (генерується автоматично).
	name – ім'я користувача.
	email – email користувача.
	#password – приватне поле для збереження пароля.
Методи:
	constructor(name, email, password) – ініціалізація об'єкта.
	getInfo() – повертає інформацію про користувача (без пароля).
	checkPassword(input) – перевіряє, чи співпадає введений пароль з збереженим.
	getRole()- повертає роль.

Admin – клас, що успадковується від User та містить додаткові адміністративні можливості.
Додаткові методи:
	deleteUser(user) – видаляє вказаного користувача.
	resetPassword(user, newPassword) – змінює пароль іншого користувача.

Moderator – клас, що також успадковується від User і має можливість попереджати користувачів.
Додаткові методи:
	warnUser(user) – видає попередження користувачу.
	muteUser(user, duration) – блокує користувача на певний час.

SuperAdmin - клас, має всі можливості Admin. 
Додаткові методи: 
	createAdmin(name, email, password), що створює новий об’єкт Admin.

